.form {
    margin: 80px auto !important;
    width: 30rem !important;
    padding: 0 !important;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

label {
    margin-bottom: 5px;
}

input.btn {
    margin-bottom: 10px !important;
    margin-left: 20px;
}

#btn {
    margin-top: 40px;
}
