
#body {
  height: 20px !important;
}
br {
  margin: 40px 0 !important;
}

#healthPic {
  height: 400px !important;
  width: 100% !important;
  object-fit: cover;
  padding: 0 !important;
  margin: 0 !important;
}